---
# Only the main Sass file needs front matter (the dashes are enough)
---
/*
  font weights: 300, 400, 600, 700, 800
*/

body{
  //font-family: 'Open Sans', sans-serif;
  font-family: 'Vollkorn', serif;
}
a{
  color: #496985;
}

.about-container{
  background: #FFF;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0px 20px 20px 20px;
  float: left;
  h2{
    margin-bottom: 16px;
    line-height: 50px;
    font-size: 35px;
    span{
    }
  }
  h4{
    margin-top: 15px;
  }
  li{
    margin-left: 10px;
  }
}

@media (max-width: 600px) {
  .about-container{
    width: auto;
    h2{
      width: auto;
    }
  }
}
