<div class="row header-container" ng-controller="Nav">
  <div class="col-md-6">
    <h2><span>My name is Noah Hamann.</span></h2>
    <h2 class="last"><span>Welcome to my site.</span></h2>
  </div>
  <div class="col-md-6">
    <ul class="list-unstyled">
    {% for link in site.navigation %}
      {% assign current = nil %}
      {% if page.url == link.url %}
        {% assign current = 'current' %}
      {% endif %}
      <li class="{{ current }}"><a href="{{ link.url }}">{{ link.text }}</a></li>
    {% endfor %}
    </ul>
  </div>
</div>
<div class="row">
  <hr>
</div>
