---
permalink: /tools/epoch/
---

<div class="row tools" ng-controller="Tools">
  {% include tools/nav.html %}
  <div class="col-md-9 tools-container">
    <div class="epoch-tool" ng-controller="ToolsEpoch">
      <h3>Epoch to date converter</h3>
      <p>Enter your epoch time and the human readable date will render. Add <code>?epoch=[epoch time]</code> to the url above for a shortcut.</p>
      <input ng-model="epoch" class="form-control" placeholder="enter epoch">
      <dl class="dl-horizontal">
        <dt>Seconds</dt>
        <dd ng-bind="(epoch | epochToDateString) || 'No valid epoch entered'"></dd>
        <dt>Milliseconds</dt>
        <dd ng-bind="(epoch | milliToDateString) || 'No valid epoch entered'"></dd>
      </dl>
    </div>
  </div>
</div><!-- row -->
